@inherits LayoutComponentBase

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />
<MudPopoverProvider />

<div style="min-height:100vh; background:#f8fafc;">
    <MudContainer MaxWidth="MaxWidth.False" Class="pa-4">
        @Body
    </MudContainer>
</div>